<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.winersapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/WineTheme" >
        <activity
            android:name="com.example.winersapp.Activities.WinersAppMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.winersapp.Activities.MainActivity"
            android:label="@string/find_wines"
            android:parentActivityName="com.example.winersapp.Activities.WinersAppMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.winersapp.Activity.WinersAppMainActivity" />
        </activity>
        <activity
            android:name="com.example.winersapp.WineOfDay"
            android:label="@string/title_activity_wine_of_day"
            android:parentActivityName="com.example.winersapp.Activities.WinersAppMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.winersapp.Activity.WinersAppMainActivity" />
        </activity>
        <activity
            android:name="com.example.winersapp.WineSearch"
            android:label="@string/find_wines"
            android:parentActivityName="com.example.winersapp.Activities.WinersAppMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.winersapp.Activity.WinersAppMainActivity" />
        </activity>
        <activity
            android:name="com.example.winersapp.EventCalendar"
            android:label="@string/title_activity_event_calendar" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.winersapp.MyWines"
            android:label="@string/title_activity_my_wines" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.winersapp.Map"
            android:label="@string/title_activity_map" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.winersapp.ToastToShare"
            android:label="@string/title_activity_toast_to_share" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.winersapp.AddWine"
            android:label="@string/title_activity_add_wine" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.winersapp.Settings"
            android:label="@string/title_activity_settings" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.winersapp.WineAppSettings"
            android:label="@string/title_activity_wine_app_settings" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.winersapp.Login"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.example.winersapp.Activities.AbstractActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.winersapp.Activities.AbstractActivity" />
        </activity>
    </application>

</manifest>